/* league-spartan-200 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 200;
  src: url("./fontsleague-spartan-v6-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fontsleague-spartan-v6-latin-200.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fontsleague-spartan-v6-latin-200.woff2") format("woff2"), /* Super Modern Browsers */ url("./fontsleague-spartan-v6-latin-200.woff") format("woff"), /* Modern Browsers */ url("./fontsleague-spartan-v6-latin-200.ttf") format("truetype"), /* Safari, Android, iOS */ url("./fontsleague-spartan-v6-latin-200.svg#LeagueSpartan") format("svg"); /* Legacy iOS */
}
/* league-spartan-regular - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("./fontsleague-spartan-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fontsleague-spartan-v6-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fontsleague-spartan-v6-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("./fontsleague-spartan-v6-latin-regular.woff") format("woff"), /* Modern Browsers */ url("./fontsleague-spartan-v6-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("./fontsleague-spartan-v6-latin-regular.svg#LeagueSpartan") format("svg"); /* Legacy iOS */
}
/* league-spartan-700 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("./fontsleague-spartan-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fontsleague-spartan-v6-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fontsleague-spartan-v6-latin-700.woff2") format("woff2"), /* Super Modern Browsers */ url("./fontsleague-spartan-v6-latin-700.woff") format("woff"), /* Modern Browsers */ url("./fontsleague-spartan-v6-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */ url("./fontsleague-spartan-v6-latin-700.svg#LeagueSpartan") format("svg"); /* Legacy iOS */
}
/* league-spartan-900 - latin */
@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 900;
  src: url("./fontsleague-spartan-v6-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fontsleague-spartan-v6-latin-900.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fontsleague-spartan-v6-latin-900.woff2") format("woff2"), /* Super Modern Browsers */ url("./fontsleague-spartan-v6-latin-900.woff") format("woff"), /* Modern Browsers */ url("./fontsleague-spartan-v6-latin-900.ttf") format("truetype"), /* Safari, Android, iOS */ url("./fontsleague-spartan-v6-latin-900.svg#LeagueSpartan") format("svg"); /* Legacy iOS */
}
